@import url("//fonts.googleapis.com/css?family=Changa+One");

body {
  background: url("../images/background.png") no-repeat center center fixed; // See: https://github.com/qrohlf/trianglify
  background-size: cover;
  margin: 0px 75px;
  text-align: center;
}

h1, h3, #sounds > a {
  color: #222;
  font-family: "Changa One", "Courier New", monospace;
  text-transform: uppercase;
}

h1, h3 {
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

#sounds > a {
  display: inline-block;
  font-size: 1.35em;
  text-decoration: none;
  background-color: fade(#fff, 40%);
  border: 2px solid #555;
  border-radius: 0.3em;
  margin: 10px;
  padding: 10px 20px;

  &:hover {
    background-color: fade(#fff, 70%);
    box-shadow: 3px 3px 50px 10px fade(#fff, 15%);
  }
}

#github-fork > img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
