@import url("https://fonts.googleapis.com/css?family=Boogaloo");
@import "node_modules/font-awesome/scss/font-awesome";

body {
  background: radial-gradient(#ff0000, #df0000) fixed;
  margin: 0px;
  padding: 20px;
  color: #eee;
  font-family: "Boogaloo", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #333;
}

#header {
  h1 {
    font-size: 2.5em;
    margin: 0px;

    + h2 {
      margin-top: 10px;
    }
  }

  h2 {
    font-size: 1.5em;
    margin: 0px;
  }

  img {
    display: none;
  }

  + #sounds {
    margin-top: 30px;
  }
}

#sounds {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 35%;
    color: inherit;
    font-size: 1.1em;
    font-family: inherit;
    text-transform: inherit;
    text-shadow: inherit;
    cursor: pointer;
    background: fade-out(#eee, 0.85);
    border: 4px solid #eee;
    margin: 5px;
    padding: 15px;

    span {
      flex: 1;
    }

    &:hover {
      background: fade-out(#eee, 0.65);
    }
  }

  + #footer {
    margin-top: 30px;
  }
}

#footer {
  a {
    color: inherit;
    text-decoration: none;
  }
}

#fork {
  img {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  #header {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;

      + img {
        margin-top: 30px;
      }
    }

    img {
      display: inline;
      height: 85px;
      border: 8px solid #eee;
      border-radius: 40px;
    }
  }

  #sounds {
    button {
      font-size: 1.2em;
      flex-basis: 25%;
    }
  }

  #fork {
    img {
      display: inherit;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
    }
  }
}

@media screen and (min-width: 64em) {
  #header {
    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 2.5em;
    }
  }

  #sounds {
    margin: 0px auto;
    max-width: 1280px;

    button {
      font-size: 1.3em;
      flex-basis: 15%;
    }
  }
}
